# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

git rm --cached -r lib/
git rm --cached -r pdfbox-3.0/
git rm --cached pdfbox-app-2.033.ext

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Hattmakarna/nbproject/private/

*.properties
